.wrapper {
  height: 450px;
}

.title {
  margin: 0;
  padding: 0;
  text-align: left;
}

.description {
  text-align: left;
  border: 1px solid #ccc;
  min-height: 300px;
  background-color: rgba(204, 204, 204, 0.69);
  padding: 10px;
}