.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(71, 65, 65);
  height: 10vh;
  padding: 0 20px;
}

.headerBtn {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  width: 100px;
  background-color: none;
  text-align: center;
  color: #fff;
  transition: 0.3s all;
  border: none;
  background: none;
  cursor: pointer;
  &:hover {
    color: #278d9f;
  }
}

.headerLink {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  width: 200px;
  text-align: center;
  color: #fff;
  transition: 0.3s all;
  &:hover {
    color: #278d9f;
  }
}
