@import '../../scss/abstract/constants.scss';
@import '../../scss/abstract/mixins.scss';

.footer {
  display: flex;
  align-items: center;
  background-color: $color-footer;
  min-height: 10vh;
  padding: 0 20px;
  @include media-table {
    padding-top: 10px;
  }
}

.containerFooter {
  @include flex-between;
  font-size: 0.8rem;
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    &:hover,
    &:active {
      color: $color-hover-link;
    }
  }
  @include media-table {
    flex-direction: column;
  }
}

.iconRs {
  width: 150px;
  height: 50px;
  transition: 0.3s;
}

.iconRs:hover,
.iconRs:active {
  filter: $color-hover-svg;
}

.github {
  display: flex;
  align-items: center;
  & p {
    margin: 0 20px;
  }
}

.developer {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
  @include media-table {
    margin-top: 10px;
    flex-direction: column;
  }
}

.year {
  font-size: 18px;
}
