$color-footer: blue;
$color-header: blue;
$color-sticky: rgb(97, 97, 255);
$color-hover-svg: invert(55%) sepia(62%) saturate(1706%) hue-rotate(208deg) brightness(102%) contrast(101%);
$color-hover-link: #9090ff;